
*{
    box-sizing: border-box;
}

  body{
    font-family:'Times New Roman', Times, serif;
      margin: 0;
      padding: 0;
  }
   
  .wrapper{
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      background: #ecedf0;
      overflow: hidden;
  }
  .container{
      /* border-radius: 10px; */
      box-shadow: -5px -5px 10px #fff,
                  5px 5px 10px #038f49;
      position: absolute;
      width: 768px;
      min-height: 500px;
      overflow: hidden;            
  }
  form{
      /* background: #eaeceb; */
      display: flex;
      flex-direction: column;
      padding: 0 10px;
      margin-top: 80px;
      height: 80%;
      justify-content: center;
      align-items: center;
  }
  form input{
      background: #f7f5f5;
      padding: 10px;
      padding-left: 10px;
      font-size: small;
      font-weight:100;
      font-family: 'Times New Roman';
      margin: 7px 7px;
      margin-left: 10px;
      margin-right: 10px;
      width: 80%;
      height: 2px;
      border: 0;
      outline: none;
      border-radius: 2px;
      /* box-shadow: inset 7px 2px 10px #babebc,
                  inset -5px -5px 12px #fff; */
  }

  .eye-icon{
    position: absolute;
    top: 43%;
    right: 40px;
    transform: translateY(-50%);
    font-size: 10px;
    color: black;
    cursor: pointer;
    padding: 10px;
}

 .remember{
    display: flex;
    font-size: 13px;
    margin: 10px 0 20px 0;
    color: #000000;
    padding-right: 120px;
 } 

 .check{
    margin-right: 30px;
    /* margin-left: -20px; */
    width: 10px;
    cursor: pointer;
    /* box-shadow: #dde6e5; */
    color: rgb(231, 16, 16);
    /* background-color: #000000; */
}

  button{
      /* border-radius: 20px; */
      border: none;
      outline: none;
      font-size: 8px;
      font-weight: bold;
      padding-top: 10px;
      padding-bottom: 15px;
      width: 7px;
      letter-spacing: 1px;
      text-transform: uppercase;
      cursor: pointer;
      transition: transform 80ms ease-in;
  }
  .form_btn{
    width: 220px;
    margin-bottom: 30px;
    margin-top: -15px;
    height: 10px;
    border-radius: 8px;
    background-color: #007D79;
    color: white;
  }
  
  .medi-safe-container{
      position: absolute;
      background-color:#007D79;
      /* left: 100px; */
      /* top: 400px; */
      width: 60%;
      height: 100%;
      transition: all 0.5s;
  }  

  .medi-safe-container p{
    padding-left: 15px;
    color: white;
    font-size: small;
    font-weight: 100;
    padding-left: 60px;
  }
  
  .medi-safe-container h1{
    /* padding-left: 150px; */
    padding-top: 400px;
    position: absolute;
    color: #009D9A;
    font-family: 'Times New Roman';
    font-size: 30px;
    line-height: 100.33px;
    left: 50%;
    bottom: -50%;
    transform: translateX(-50%);
    width: calc(50% + 50%);
    padding: 20px 140px;
    border-radius: 50%;
    height: 80%;
    background: white;
  }
  
  .login-container{
      display: flex;
      flex-direction: column;
      padding-left: 70px;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      width: 50%;
      height: 110%;
      top: -10%;
      background-color: #9EF0F0;
      color: #fff;
      transition: all 0.5s;
  } 

  .form span{
    color: #007D79;
    font-size: large;
    font-weight: 700;
  }
  
  .line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    top: -10%;
    background-color: black;
}
.line::before{
    content: 'Or continue with';
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #FFF; */
    color: #8b8b8b;
    padding: 0 0.2px;
    font-size: 10px;
}


.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 120px;
    bottom: 50px;
    text-decoration: none;
    color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 55px;
    padding-right: 55px;
    border-radius: 5px;
}

.fa {
    display:flex;
    padding-left: 20px;
    font-size: 5px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
  }
  
  
  .fa-facebook {
    background: white;
    color: blue;
  }
  
  .fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

a.facebook{
    background-color: white;
    margin-top: -60px;
}

a.facebook span{
    font-size: 12px;
    font-family: 'Times New Roman';
    color: black;
}
a.google{
    background-color: white;
    margin-top: 20px;
}
a.google span{
    font-size: 12px;
    font-family: 'Times New Roman';
    color: black;
}

.sign-in{
  margin: 10px 0 0 10px;
  margin-right: 130px;
  color: #595959;
  font-size: 10px;
}
.sign-in a{
  color: #3498db;
  text-decoration: none;
}
.sign-in a:hover{
  text-decoration: underline;
}

.terms{
  margin: 10px 20px;
  color: #595959;
  font-size: 10px;
  padding-bottom: 30px;
}
.terms a{
  color: #3498db;
  text-decoration: none;
}
.terms a:hover{
  text-decoration: underline;
}
